# Use root/example as user/password credentials
version: '3.1'

services:

  db:
    container_name: mariadb_journal
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345
    ports:
      - "33060:3306"
    command: --lower_case_table_names=1