$sidebar-width: 20%;
$topbar-height: 0rem;
$basic-font-size: 16px;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


@mixin front-shadow {
    -webkit-box-shadow: -1px 1px 2px 3px rgba(19,18,77,1);
    -moz-box-shadow: -1px 1px 2px 3px rgba(19,18,77,1);
    box-shadow: -1px 1px 2px 3px rgba(19,18,77,1);
}

@mixin entry-shadow {
    -webkit-box-shadow: -1px 1px 12px 4px rgba(57, 57, 57, 0.7);
    -moz-box-shadow: -1px 1px 12px 4px rgba(57, 57, 57, 0.7);
    box-shadow: -1px 1px 12px 4px rgba(57, 57, 57, 0.7);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50 none;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}
select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}


html {
    margin: 0;
    padding: 0;
    background-color: #131212;
    font-family: 'Rubik', sans-serif;
    color: whitesmoke;
}

p {
    font-size: $basic-font-size;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: #717171;
}
.button:active {
    background-color: #9a9a9a;
}

.top-bar {

}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: $sidebar-width;
    height: 100%;
    background-color: #00002d;
    z-index: 999;
    border-left: 1px solid #2b2b49;
    color: white;
    text-align: center;
    overflow: auto;
    padding: 10px;
}

.content {
    margin-right: $sidebar-width;
    margin-top: $topbar-height;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 100%;
}

.entry-enter {
    max-height: 0;
    border: none;
    padding: 0;

    &.entry-enter-active {
        @extend .entry;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
    }
}

.entry-enter-done, .entry-exit {
    @extend .entry;
}

.entry-exit.entry-exit-active {
    max-height: 0;
    border: none;
    padding: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.entry {
    max-height: 20rem;
    margin: 15px 5px;
    background-color: rgba(57, 57, 57, 0.7);
    border-radius: 2px;
    border: 1px solid rgba(76, 76, 76, 0.7);
    padding: 10px;
    width: 80%;
    overflow: hidden;

    .username {
        font-weight: bolder;
    }

    button {
        float: right;
    }

    .info {
        padding-bottom: 5px;
        border-bottom: 1px solid cornflowerblue;
        overflow: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.new-entry-nexpanded {
    cursor: pointer;
    width: 8rem !important;
    max-height: 2rem !important;
    font-size: 1.5rem !important;
    border-radius: 50px;
}

#createEntry {
    max-height: 20rem;
    width: 70%;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    h1 {
        float: left;
    }

    .expand-icon {
        font-size: 1.5rem;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        &.rotate {

            -webkit-transform: rotate(720deg);
            -moz-transform: rotate(720deg);
            -ms-transform: rotate(720deg);
            -o-transform: rotate(720deg);
            transform: rotate(720deg);

            opacity: 0;
        }
    }
}

#new-entry-form {

    .additional-options {
        display: flex;
        align-items: center;
    }

    .dropdown {
        float: left;
        width: 80%;
        height: 2.5rem;
        margin: 10px 0;
        background-color: #504f4f;
        font-size: 1.25rem;
        font-style: italic;
        font-family: 'Rubik', sans-serif;
        font-weight: lighter;
    }

    .submit-button {
        margin: 10px 0 10px 40px;
    }

    .input-field {
        color: white;
        font-family: 'Rubik', sans-serif;
        font-weight: lighter;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; outline: 0;
        box-shadow: none; border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        box-sizing: content-box;
        background-color: transparent;
        padding: 1.5rem 0;
        resize: none;
        height: 6rem;
        width: 100%;
    }
}



.slide-fade-up-enter {
    opacity: 0.01;

    .slide-fade-up-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}

.dialog-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#new-project-form {
    color: black;
    background-color: whitesmoke;
    width: 60%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 20%;
}

.project-info {
    margin: 15px auto;
    width: 85%;
}

.detail-view {
    display: flex;
    -webkit-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
    background-color: #2c2c4a;
    flex-direction: column;
    width: 100%;
}

.project-name {
    cursor: pointer;
    box-sizing: border-box;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 3rem;
    background-color: #181849;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);

    &.active {
        font-weight: bold !important;
        background-color: #29295a !important;
        -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
    }
}

.hidden {
    display: none !important;
}

#all-projects-topic {
    font-weight: lighter;
    font-size: 2rem;
    font-style: italic;
    padding-bottom: 10px;
    margin: auto 20px;
    border-bottom: 1px solid #2b2b49;
}

.details-icon {
    font-size: 2rem;
    margin-left: 10px;
}

.user-panel {
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
}

.min-user-panel {
    padding: 20px 0;
    font-size: 1.5rem;
    background-color: #34495e;
    height: 2rem;
}

.user-panel-username {
    padding-left: 10px;
    float: left;
    font-weight: bolder;
}

.user-panel-options {
    display: flex;
    justify-content: space-evenly;
    border-left: 2px solid #2b2b49;
    float: right;
    min-width: 25%;
}
