$sidebar-width: 30rem;
$topbar-height: 0rem;
$basic-font-size: 16px;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@mixin front-shadow {
    -webkit-box-shadow: -1px 1px 2px 3px rgba(19,18,77,1);
    -moz-box-shadow: -1px 1px 2px 3px rgba(19,18,77,1);
    box-shadow: -1px 1px 2px 3px rgba(19,18,77,1);
}

@mixin entry-shadow {
    -webkit-box-shadow: -1px 1px 12px 4px rgba(57, 57, 57, 0.7);
    -moz-box-shadow: -1px 1px 12px 4px rgba(57, 57, 57, 0.7);
    box-shadow: -1px 1px 12px 4px rgba(57, 57, 57, 0.7);
}

html {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

p {
    font-size: $basic-font-size;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: #717171;
}
.button:active {
    background-color: #9a9a9a;
}

.top-bar {
    height: $topbar-height;
    width: 100%;
    background-color: #181849;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    @include front-shadow;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: $sidebar-width;
    height: 100%;
    background-color: #00002d;
    z-index: 999;
    border-left: 1px solid #2b2b49;
    color: white;
    text-align: center;
    overflow: auto;
}

.content {
    margin-right: $sidebar-width;
    margin-top: $topbar-height;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 100%;
}

.entry {
    margin: 15px 5px;
    background-color: rgba(57, 57, 57, 0.7);
    border-radius: 15px;
    min-height: 5rem;
    padding: 10px;
    width: 80%;
    @include entry-shadow;

    .username {
        font-weight: bolder;
    }

    button {
        float: right;
    }
}

.entry .info {
    padding-bottom: 5px;
    border-bottom: 1px solid cornflowerblue;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#createEntry {
    width: 50%;
    text-align: center;
}

.slide-fade-up-enter {
    opacity: 0.01;

    .slide-fade-up-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}

.dialog-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#new-entry-form {
    display: flex;
    flex-direction: column;
}

#new-project-form {
    color: black;
    background-color: whitesmoke;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.project-info {
    margin: 15px 10px;
    font-size: 2rem;
    font-weight: bolder;
}

.detail-view {
    display: flex;
    -webkit-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
    background-color: #2c2c4a;
    flex-direction: column;
}

.project-name {
    height: 3rem;
    background-color: #181849;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);

    &.active {
        background-color: #5c5cc2 !important;
        -webkit-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
    }
}

.hidden {
    display: none !important;
}

#all-projects-topic {
    font-weight: lighter;
    font-size: 1.5rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #2b2b49;
}

.details-icon {
    font-size: 2rem;
    margin-left: 10px;
}
